ul {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

#header-info {
    background-color: #282828;

}

#header-info a {
    color: #939393;
}


/* ----------------------------------- */
.header-tele,
.header-email {
    padding: .5rem .7rem;
    font-size: .5rem;
    cursor: pointer;
}

.header-orderTrack,
.header-myAcc,
.header-checkOut {
    padding: .5rem .7rem;
    font-size: .5rem;
    text-transform: capitalize;
    cursor: pointer;
}

.header-tele:hover,
.header-email:hover,
.header-orderTrack:hover,
.header-myAcc:hover,
.header-checkOut:hover {
    background-color: #3f3e43;

}

.bg-light {
    background-color: #ffffff !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.navbar {
    padding: 0;
}




#nav li:hover,
#nav .btn_search:hover,
.btn-lg_search:hover,
.btn-lg_fav:hover,
.basket:hover,
.nav-tele a:hover {
    background-color: rgb(238, 238, 238);

}

.nav-tele a {
    color: rgb(0, 0, 0);

    padding: 0.5rem 1rem;
}



.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0rem rgb(255, 255, 255);
}

#nav {
    font-size: 1rem;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 1rem;

    }

}

.nav-link {
    font-size: .8rem;
}

.btn-lg_search,
.btn-lg_fav,
.basket .icon {
    font-size: 1.5rem;
    position: relative;
}

.basket {
    cursor: pointer;
}

.basket-title {
    font-size: .8rem;
}

.basket-items {
    font-size: .6rem;
}

.basket-less .basket_qty {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 2px 7px;
    font-size: 1px;
    box-shadow: 0px 0px 0px 2px #ffffff;
    position: absolute;
    bottom: -10%;
    right: -50%;
    text-align: center;

}

/*boxtop*/
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7 {
    cursor: pointer;
    position: relative;
    background-size: cover;
    background-position: center;
}



.box1,
.box2 {
    background-color: #4c4c4c;
    color: rgb(255, 255, 255);
    height: 50vh;
}

.box3 {
    background-color: #f3f3f3;
    position: relative;
    height: calc(25vh);
}

.box4 {
    background-color: #f3f3f3;
    position: relative;
    height: calc(25vh - .5rem);
}

.box1 {
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1555041469-a586c61ea9bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.box2 {
    background-image: url(https://images.unsplash.com/photo-1506898667547-42e22a46e125?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.box3 {
    background-image: url(https://images.unsplash.com/photo-1566350795064-46ddcb5ad1a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.box4 {
    background-image: url(https://images.unsplash.com/photo-1465224414649-ceb7f1db3999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.box5 {
    background-image: url(https://images.unsplash.com/photo-1545842331-61e95e91763c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.box6 {
    background-image: url(https://images.unsplash.com/photo-1560448076-ee77deea722b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.bl-cover {
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    transition: .3s linear all;
    background-color: rgba(0, 0, 0, 0);
}

.bl-cover:hover {
    background-color: rgba(0, 0, 0, 0.75);
}


.wh-cover {
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    transition: .3s linear all;
    background-color: rgba(255, 255, 255, 0);
}

.wh-cover:hover {
    background-color: rgba(255, 255, 255, 0.75);

}



.box1-slogan {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
}


.gry-tag {
    background-color: #535353;
    letter-spacing: .1rem;
    padding: 0 .5rem;
}

.box1 .content {
    font-size: .8rem;
}

.box1 .price {
    font-size: 1.3rem;
}

.box2 {
    position: relative;
}

.box2-slogan {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

.box2 .subtitle {
    letter-spacing: .1rem;
}

.circle {
    position: absolute;
    background-color: #62c5de;
    width: 7rem;
    height: 7rem;
    right: 1.5rem;
    bottom: 5rem;

}


.box2 .onSale {
    color: #b4e1ed;
    text-decoration: line-through;
    font-size: .5rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box2 .price {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.circle .price span {
    font-size: .6rem;
}

.box2 .shopNow {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
}

.box2 a {
    color: rgb(255, 255, 255);
}

.box2 span.icon i {
    height: 1.4rem;
    width: 1.4rem;
    line-height: 1.3;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;

}

.box3 {
    position: relative;
}

.box3-slogan {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.box3 .title {
    color: #939393;

}

.rating {
    color: #c8a760;
    font-size: 12px;
}

.sale-red {
    color: #991015;
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    bottom: 2.5rem;
}

.box3 .shopNow {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-size: .2rem;
}

@media(min-width:768px) {
    .box3 .shopNow {
        font-size: .6rem;
    }
}

.tag-black a {
    padding: .2rem .4rem;
    background-color: #2e2d32;
    color: rgb(255, 255, 255);
}



.box4 {
    position: relative;
}

.box4-slogan {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.box4 .title {
    color: #2c3e66;
    letter-spacing: 1px;
}

.box4-info {
    position: absolute;
    left: 1rem;
    bottom: 2.2rem;
}

.box4 .onSale {
    color: rgb(134, 134, 134);
    font-size: 1rem;
    text-decoration: line-through;
}

.box4 .price {
    color: #2c3e66;
    font-size: 1.5rem;
}

@media(min-width:768px) {
    .box4 .price {
        font-size: 1.5rem;
    }
}


.box4 .shopNow {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.box4 .shopNow a {
    color: #2c3e66;
    font-size: .7rem;
}

.box4 .shopNow i {
    border-radius: 50%;
    border: 1px solid #2c3e66;
    height: 1.3rem;
    width: 1.3rem;
    text-align: center;
    line-height: 1.6;
    font-size: .8rem;
}



/*box5-7*/

.box5 {
    position: relative;
    background-color: #d0e9b0;
    height: 20vh;
}

.box6 {
    position: relative;
    background-color: #f8f8f8;
    height: calc(30vh - .5rem);

}

.box7 {
    height: 50vh;
    position: relative;
}

.box5 {
    position: relative;
}

.box5-slogan {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.box5 .subtitle,
.box5 .title {
    color: rgb(255, 255, 255);
}

.box5 .subtitle {
    letter-spacing: 3px;
    font-size: .8rem;
}

.box5 .title {
    letter-spacing: 2px;
}

.box5 .shopNow {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;

}

.box5 .shopNow a {
    color: rgb(255, 255, 255);
    font-size: .5rem;
}

.box5 .shopNow i {
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    background-color: #b1de89;
    height: 1.3rem;
    width: 1.3rem;
    text-align: center;
    line-height: 1.5;
    font-size: .8rem;
}

.box6 {
    position: relative;
}

.box6-slogan {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.box6 .subtitle {
    color: #6e6e6e;
    letter-spacing: 2px;
    font-size: .8rem;
}

.box6 .title {
    color: #383838;
    letter-spacing: 2px;

}

.box6 .shopNow {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;

}

.box6 .shopNow a {
    color: #c0c0c0;
    font-size: .8rem;
}

.box6 .shopNow i {
    border-radius: 50%;
    border: 1px solid #c0c0c0;
    height: 1.3rem;
    width: 1.3rem;
    text-align: center;
    line-height: 1.5;
    font-size: .8rem;
}


.box7 .subtitle {
    color: #535353;
    letter-spacing: 1px;
}

.box7 .title {
    color: #535353;
}

.box7 p {
    color: #535353;
    font-size: 0.8rem;
}


.carousel-item {
    height: 50vh;
    position: relative;
}

.carousel-item img {
    height: 50vh;
    width: 100%;

}

.carousel-caption {
    padding: 3rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: left;
}

ol.carousel-indicators {
    justify-content: start;
    margin-left: 3rem;
    margin-bottom: 1.5rem;
}


ol.carousel-indicators li {
    border-radius: 50%;
    border: 1px solid rgb(124, 124, 124);
    height: .5rem;
    width: .5rem;
    margin: 1px;
}


div.category:nth-child(1):after,
div.category:nth-child(3):before {
    content: "|";
    padding: 0 .3rem;
    font-weight: 100;
}

@media(min-width:768px) {

    div.category:nth-child(1):after,
    div.category:nth-child(3):before {
        content: "|";
        padding: 0 1rem;
        font-weight: 100;
    }

}


.products-filter .category a {
    color: #838182;
    font-size: .8rem;
}

.products-filter .category.active a {
    color: #3a3a3a;
}

.filter-title {
    color: #3a3a3a;
    font-size: .8rem;
}

/* .carousel{
    background-color: rgb(128, 128, 128);
} */

.controls {
    background-color: rgb(218, 218, 218);
    height: 1.2rem;
    width: 3rem;

}


button.prev,button.next {
    border: none;
    background: none;
    outline:none;
}
button.prev i,button.next i{
    color: rgb(255, 255, 255);
}
button.prev i:hover,button.next i:hover{
    color: rgb(196, 196, 196);
}




.prev,
.next {
    color: #fff;
    line-height: 1.3;
}

ul.products {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.product {
    position: relative;
    background-color: #ececec;
    height: 25vh;
    width: 100%;
    margin: 0 auto;
}

.product-1 {
    background-image: url(https://images.unsplash.com/photo-1561677978-583a8c7a4b43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}

.product-2{
    background-image: url(https://images.unsplash.com/photo-1554104707-a76b270e4bbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}

.product-3{
    background-image: url(https://images.unsplash.com/photo-1565105336789-e9392607c17b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}
.product-4{
    background-image: url(https://images.unsplash.com/photo-1519642918688-7e43b19245d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}
.product-5{
    background-image: url(https://images.unsplash.com/photo-1567538096630-e0c55bd6374c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}




li.product .rating {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.product-info {
    margin-top: 1rem;
    width: 100%;
}

.product-name {
    color: #747474;
}

.banners .banner {
    background-size: cover;
    background-position: center;
}

.banners .banner:nth-child(1) {
    position: relative;
    background-color: #f8f8f8;
    height: 30vh;
    margin-bottom: 1rem;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1545494749-a5f7bf606a83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.banners .banner:nth-child(2) {
    position: relative;
    background-color: #f1f1f1;
    height: 30vh;
    margin-bottom: 1rem;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1440492248262-6895f9da82fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.banners .banner:nth-child(3) {
    position: relative;
    background-color: #f8f8f8;
    height: 30vh;
    margin-bottom: 1rem;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1507473885765-e6ed057f782c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

@media(min-width:768px) {
    .banners .banner:nth-child(1) {

        position: relative;
        background-color: #f8f8f8;
        height: 30vh;
        margin-bottom: 1rem;
        width: 33.33%;
        background-image: url(https://images.unsplash.com/photo-1545494749-a5f7bf606a83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    }

    .banners .banner:nth-child(2) {

        position: relative;
        background-color: #f1f1f1;
        height: 30vh;
        margin-bottom: 1rem;
        width: 33.33%;
        background-image: url(https://images.unsplash.com/photo-1440492248262-6895f9da82fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    }

    .banners .banner:nth-child(3) {

        position: relative;
        background-color: #f8f8f8;
        height: 30vh;
        margin-bottom: 1rem;
        width: 33.33%;
        background-image: url(https://images.unsplash.com/photo-1507473885765-e6ed057f782c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    }

}


.banner-slogan {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

.banner-subtitle {
    color: rgb(184, 184, 184);
    letter-spacing: 2px;
}

.banner-title {
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: #535353;
    word-break: break-all;
}

.banner-view {
    cursor: pointer;
    position: absolute;
    left: 1.5rem;
    bottom: 1rem;
    color: rgb(151, 151, 151);
    font-size: .6rem;
    letter-spacing: 1px;
}

.banners i {
    border-radius: 50%;
    border: 1px solid rgb(151, 151, 151);
    width: 1rem;
    height: 1rem;
    padding-left: .1rem;
    text-align: center;
    line-height: 1.2;

}

.saleOff {
    position: absolute;
    display: inline-block;
    background-color: #b2cc29;
    color: rgb(255, 255, 255);
    padding: .2rem .5rem;
    font-weight: bold;
    cursor: pointer;
    top: 1rem;
}

.newTag {
    position: absolute;
    display: inline-block;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: .2rem .5rem;
    font-weight: bold;
    cursor: pointer;
    top: 3rem;
}

.panel-cover{
    position: absolute;
    background: rgba(255, 255, 255, 0);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: .3s linear all;
    z-index: 99;
}
.panel-cover:hover{
    opacity: 1;
}

.userPanel2 {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: .6rem;
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 1px solid rgb(231, 231, 231);
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    text-align: center;
    color: rgb(121, 121, 121);
    padding: .5rem;
}







.co-brands-title {
    font-size: 1.5rem;
    color: rgb(70, 70, 70);
}

.co-brands-subtitle {
    color: rgb(163, 163, 163);
}

#footer {
    background-color: #f6f6f6;
}

#footer-top-supports span.icon {
    font-size: 2rem;
    color: #838182;

}

.fa-plane {
    transform: rotate(-0.125turn);
}

.support-title,
.support-subtitle {
    color: #353535;
    padding-left: 1rem;

}

.support-title {
    text-transform: uppercase;
    font-size: .3rem;
}

.support-subtitle {
    font-size: .1rem;
}

.support-subtitle:first-letter {
    text-transform: uppercase;
}

#footer-top-infos,
#footer-top-infos a {
    color: #a0a0a0;
}


#footer-top-infos a:hover {
    color: #616161;

}

.links .title {
    color: #575757;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

#footer-top-infos ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links .categories li,
.links .infomation li,
.links .accounts li,
.links .costomer li,
.links .pages li,
.links .socials li {
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.subscribes .title {
    color: #575757;
    font-weight: bold;
}

.emailHere {
    background-color: rgb(255, 255, 255);
    color: #696969;
    height: 5vh;

    font-weight: bold;

    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

}

.subbtn {
    background-color: #696969;
    color: #dfdfdf;
    height: 5vh;
    text-transform: capitalize;
    font-weight: bold;

    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}

.socialMediaList {
    font-size: 1.5rem;
}

@media(min-width:768px) {
    .socialMediaList ul li {
        margin-left: 1rem;
    }

}



#footer-bottom {
    background-color: #fff;
}



/*about us*/

.about-header {
    height: 30vh;
    background-color: #f4f4f4;
    color: #494949;
}

.breadcrumb-title {
    font-weight: bolder;
    font-size: 3rem;
}

.breadcrumb-subtitle span {
    padding: 0 1rem;
    text-transform: capitalize;

    font-size: 12px;
}

.whoWeAre {
    color: #494949;
}

.whoWeAre .content p {
    font-size: 1.1rem;
}


.whoWeAre .socialMediaList ul {
    list-style: none;
    padding: 0;
}

.whoWeAre .socialMediaList ul a {
    color: #494949;
    padding-right: 0;
}

@media(min-width:768px) {
    .whoWeAre .socialMediaList ul a {

        padding-right: 1rem;
    }
}

.whoWeAre .socialMediaList ul a:hover {
    color: #868686;

}

@media (min-width: 768px) {
    div.whoWeAre .socialMediaList ul li {
        margin-left: 0;
    }
}

.ourTeam-title {
    color: #494949
}


ul.ourTeams {
    list-style: none;
    margin: 1rem 0;
}

li.ourTeam {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;

}


li.ourTeam img {
    position: relative;
    max-width: 100%;
    height: auto;

}

.outTeam {
    position: relative;
}

.team-socialMedia {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.cover {
    position: absolute;
    background: rgba(255, 255, 255, .9);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: .3s linear all;
}

.cover:hover {
    opacity: 1;
}

.cover .team-socialMedia {
    position: absolute;
    top: 50%;
    text-decoration: none;
    color: #333;
}




.team-socialMedia ul {
    list-style: none;
}

.team-socialMedia a {
    display: inline-block;
    border-radius: 99em;
    color: rgb(255, 255, 255);
    background-color: #515151;
    margin: 0 .5rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
}


.ourTeam-info {
    margin-top: 1rem;
    width: 100%;
}

.ourTeam-info .decoration {
    background-color: #eeeeee;
    padding-left: 3%;
    margin-right: .5rem;
}

.ourTeam-info .name {
    font-size: 1rem;
}

.ourTeam-info .jobTitle {
    font-size: .5rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: #a0a0a0;
}

.hire {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #adadad;
}

.about-emailHere.form-control.emailHere {
    border: 1px solid rgb(100, 100, 100);
    border-right: none;
    font-weight: normal;
}

.about-subbtn {
    background-color: #ffffff;
    color: #a5a0a0;
    border: 1px solid rgb(100, 100, 100);
    border-left: none;
}


/*contact us*/
.contact-header {
    height: 30vh;
    background-image: url("../img/contact/header.png");
    background-color: #f4f4f4;
    color: #494949;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.breadcrumb-title {
    font-weight: bolder;
    font-size: 3rem;
}

.breadcrumb-subtitle span {
    padding: 0 1rem;
    text-transform: capitalize;

    font-size: 12px;
}


.contact-info h4.title,
.contact-info h4.title .content {
    text-transform: capitalize;
}

.contact-info .content {
    color: #383838;
}

.contact-info a {
    color: #383838;
}

.contact-info a:hover {
    color: #5e5e5e;
}

.question textarea {
    border-radius: 12px;
}


#footer.contact-footer {
    background-color: rgb(255, 255, 255);
}


@media(min-width:768px) {
    .contact-mr {
        margin-right: 3rem;
    }

}

@media(min-width:992px) {
    .contact-mr {
        margin-right: 6rem;
    }

}


/*about workdspace*/

.work-1 {
    grid-area: work1;
    background-image: url(https://images.unsplash.com/photo-1513694203232-719a280e022f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}

.work-2 {
    grid-area: work2;
    background-image: url(https://images.unsplash.com/photo-1537212013010-de9c76f8f0ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}

.work-3 {
    grid-area: work3;
    background-image: url(https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}

.work-4 {
    grid-area: work4;
    background-image: url(https://images.unsplash.com/photo-1519710164239-da123dc03ef4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}


.container-grid {
    display: grid;
    grid-template-areas:
        'work1 work1 work1 work1 work2 work2 work3 work3 work3'
        'work1 work1 work1 work1 work2 work2 work3 work3 work3'
        'work1 work1 work1 work1 work2 work2 work3 work3 work3'
        'work1 work1 work1 work1 work2 work2 work3 work3 work3'
        'work1 work1 work1 work1 work4 work4 work4 work4 work4'
        'work1 work1 work1 work1 work4 work4 work4 work4 work4'
        'work1 work1 work1 work1 work4 work4 work4 work4 work4';

    column-gap: .5rem;
    row-gap: .5rem;
    padding: 0 .25rem;
    height: 50vh;
}

.container-grid>div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
}


.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: transparent !important;
    color: #FFF;
    text-decoration: none;
}

.works .owl-nav button.owl-prev {
    position: absolute;
    left: 2rem;
    top: 50%;
    border: none;
    background-color: rgb(145, 145, 145);
    transform: translate(0, -60%);
}

.works button.owl-prev span {
    font-size: 5rem;
    color: rgba(128, 128, 128, 0.5);
}

.works button.owl-prev span:hover {
    color: rgb(255, 255, 255);
}

.works button.owl-next {
    position: absolute;
    right: 2rem;
    top: 50%;
    border: none;
    background-color: transparent;
    color: #8f8f8f;
    transform: translate(0, -60%);
}

.works button.owl-next span {
    font-size: 5rem;
    color: rgb(128, 128, 128,0.5);
}

.works button.owl-next span:hover {
    color: rgb(255, 255, 255);
}

.works.owl-theme .owl-dots .owl-dot:hover span {
    background: #b6b6b6;
}

.works.owl-theme .owl-dots .owl-dot span {
    width: 5rem;
    height: .3rem;
    margin: 5px 7px;
    background: #ececec;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 0px;
}

.works.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #b6b6b6;
}

/*sm-owl*/
.works-sm {
    width: 100%;
    height: 50vh;
}

.works-sm .item {
    max-height: 100%;
}

.work-1-sm {
    height: 50vh;
    background-image: url(https://images.unsplash.com/photo-1532323544230-7191fd51bc1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}

.work-2-sm {
    height: 50vh;
    background-image: url(https://images.unsplash.com/photo-1551216223-37c8d1dbec5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}

.work-3-sm {
    height: 50vh;
    background-image: url(https://images.unsplash.com/photo-1464564531096-f0163633a18a?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}

.work-4-sm {
    height: 50vh;
    background-image: url(https://images.unsplash.com/photo-1549488344-cbb6c34cf08b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}


.works-sm.owl-theme .owl-dots .owl-dot:hover span {
    background: #b6b6b6;
}

.works-sm.owl-theme .owl-dots .owl-dot span {
    width: 1rem;
    height: .5rem;
    margin: 5px 4px;
    background: #ececec;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 0px;
}

.works-sm.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #b6b6b6;
}


.works-sm .owl-nav button.owl-prev {
    position: absolute;
    left: .5rem;
    top: 50%;
    border: none;
    background-color: rgb(145, 145, 145);
    transform: translate(0, -60%);
}

.works-sm .owl-nav button.owl-next {
    position: absolute;
    right: .5rem;
    top: 50%;
    border: none;
    background-color: transparent;
    color: #8f8f8f;
    transform: translate(0, -60%);

}
.works-sm button.owl-prev span {
    font-size: 5rem;
    color: rgb(128, 128, 128,0.5);
}
.works-sm button.owl-next span {
    font-size: 5rem;
    color: rgb(128, 128, 128,0.5);
}

.works-sm button.owl-prev span:hover {
    color: rgb(255, 255, 255);
}
.works-sm button.owl-next span:hover {
    color: rgb(255, 255, 255);
}
