/*
header #282828
header hover #3f3e43
black fontcolor 000
gray font color 
box bgcolor #4c4c4c
*/
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

a:hover {
    text-decoration: none;
}

#header-info{
    background-color: #282828;
    color: #939393;
    cursor: pointer;
}

.header-orderTrack,
.header-myAcc,
.header-checkOut {
    padding: .3rem 1.5rem;
    text-transform: capitalize;
    font-weight: 500;
}

.header-orderTrack:hover,
.header-myAcc:hover,
.header-checkOut:hover {
    background-color: #3f3e43;
}

.header-contact a,
.header-member a {
    color: #939393;
}

@media (max-width:425px) {
    .form-control {
        width: 85%;
    }
}

/*boxtop*/

.box1,.box2 {
    background-color: #4c4c4c;
    color: rgb(255, 255, 255);
    height: 40vh;
}
.gry-tag{
    background-color: #535353;
}
.box1 .content{
    font-size: .8rem;
}
.box2{
    position: relative;
}
.box2 .subtitle{
    letter-spacing: .2rem;
}
.circle{
    background-color: #62c5de;
    width: 7rem;
    height: 7rem;
    text-align: center;
}
.box2 .onSale{
    color: #b4e1ed;
}
.td-lt{
    text-decoration:line-through;
    font-size: .5rem;
}
.circle .price{
    font-size: 1.5rem;
}

.box2 .shopNow{
    position: absolute;
    bottom: 1rem;
    left:1rem;
}

.box2 a{
    color: rgb(255, 255, 255);
}
.box2 span.icon i{
    height: 1.4rem;
    width: 1.4rem;
    line-height: 1.3;
    border-radius:  50%;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;

}
.box3{
    background-color: #f3f3f3;
    position: relative;
    height: 20vh;
}

.box4{
    background-color: #f3f3f3;
    position: relative;
    height: calc(20vh - .25rem);
}
.box3 .title{
    color: #939393;
    
}
.rating{
    color: #c8a760;
    font-size: 0.5rem;
}
.sale-red{
    color: #991015;
}
.box3 .shopNow{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}
.tag-bl a{ 
    padding: .2rem .4rem;
    background-color: #2e2d32;
    color: rgb(255, 255, 255);
}

.box4 .title{
    color: #2c3e66;
    letter-spacing: 1px;
}
.box4 .onSale{
    color: rgb(134, 134, 134);
    font-size: .5rem;
}
.box4 .price{
    color: #2c3e66;
    font-size: 1.5rem;
}
.box4 .shopNow a{
    color: #2c3e66;
    font-size: .7rem;
}

.box4 .shopNow i{
    border-radius: 50%;
    border: 1px solid #000;
    height: 1rem;
    width: 1rem;
    text-align: center;
    line-height: 1.2;
    font-size: .8rem;
}



/*box5-7*/

.box5{
    position: relative;
    background-color: #d0e9b0;
    height: 20vh;
}
.box5 .subtitle,.box5 .title{
    color: rgb(255, 255, 255);
}

.box5 .subtitle{
    letter-spacing: 3px;

}
.box5 .title{
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.box5 .shopNow a{
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    color: rgb(255, 255, 255);
    font-size: .8rem;
}
.box5 .shopNow i{
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    background-color: #b1de89;
    height: 1.3rem;
    width: 1.3rem;
    text-align: center;
    line-height: 1.5;
    font-size: .8rem;
}

.box6{
    position: relative;
    background-color: #f8f8f8;
    height: 20vh;
}

.box6 .subtitle{
    color: #c0c0c0;
    letter-spacing: 2px;
    font-size: .8rem;
}
.box6 .title{
    color: #535353;
    letter-spacing: 2px;
    font-size: 1.3rem;
}

.box6 .shopNow a{
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    color: #c0c0c0;
    font-size: .8rem;
}
.box6 .shopNow i{
    border-radius: 50%;
    border: 1px solid #c0c0c0;
    height: 1.3rem;
    width: 1.3rem;
    text-align: center;
    line-height: 1.5;
    font-size: .8rem;
}

.box7 {
    height: 40vh;
    position: relative;
}
.box7 .subtitle{
    color: #535353;
    letter-spacing: 1px;
}
.box7 .title{
    color: #535353;
}
.box7 p{
    color: #535353;
    font-size: 0.8rem;
}


.carousel-item img{
    height: 50vh ;

}
ol.carousel-indicators{
    justify-content: start;
    margin-left: 1rem;
}


ol.carousel-indicators li{
    border-radius: 50%;
    border: 1px solid rgb(124, 124, 124);
    height: .5rem;
    width: .5rem;
    margin: 1px;    
}

.carousel-caption{
    top: 0;
    left: 1rem;
    text-align: left;
}

div.category:nth-child(1):after,div.category:nth-child(2):after{
    content: "|";
    padding: 0 .3rem;
    font-weight: normal;
}

.products-filter{
    color: #838182;
}

.products-filter .active{
    color: #3a3a3a;
}

.controls{
    background-color: rgb(218, 218, 218);
    height: 1.2rem;
    width: 3rem;

}

.prev,.next{
color: #fff;
line-height: 1.3;
}

ul.products{
    list-style: none;
    margin: 0;
    padding: 0;
}

li.product{
    position: relative;
    background-color: rgb(231, 231, 231);
    height: 40vh;
    width: 80vw;
    margin: 0 auto;
}
.product-info{
    margin: 0 auto;
    width: 80vw;
}

.product-name{
    color: #747474;
}
.banners .row .col-12:nth-child(2n+1) .banner{
    position: relative;
    background-color: #f8f8f8;
    height: 25vh;
    margin-bottom: 1rem;
}

.banners .row .col-12:nth-child(2) .banner{
    position: relative;
    background-color: #f1f1f1;
    height: 25vh;
    margin-bottom: 1rem;
}

.banner-subtitle{
    color: rgb(184, 184, 184);
    letter-spacing: 2px;
}
.banner-title{
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.banners .col-12{
    position: relative;
}
.banner-view{
    cursor: pointer;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    color: rgb(151, 151, 151);
    font-size: .6rem;
    letter-spacing: 1px;
}

.banners i{
    border-radius: 50%;
    border: 1px solid rgb(151, 151, 151);
    width: 1rem;
    height: 1rem;
    padding-left: .1rem;
    text-align: center;
    line-height: 1.2;
    
}
.saleOff{
    position: absolute;
    display: inline-block;
    background-color: #b2cc29;
    color: rgb(255, 255, 255);
    padding: .2rem .5rem;
    font-weight: bold;
    cursor: pointer;
    top: 1rem;
}
.newTag{
    position: absolute;
    display: inline-block;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: .2rem .5rem;
    font-weight: bold;
    cursor: pointer;
    top: 3rem;
}

.userPanel{
    position: absolute;
    bottom: 0;
    background-color: #fff;

}

.addCart,.like,.preview{
    border: 1px solid rgb(216, 216, 216);
    text-align: center;
    color: rgb(121, 121, 121);
}

.co-brands-title{
    font-size: 1.5rem;
    color: rgb(70, 70, 70);
}
.co-brands-subtitle{
    color: rgb(163, 163, 163);
}
#footer{
    background-color: #f6f6f6;
}

#footer-top-supports span.icon{
    font-size:2rem;
    color: #838182;
    
}
.fa-plane{
    transform: rotate(-0.125turn);
}
.support-title,.support-subtitle{
    color: #353535;
    padding-left: 1rem;
    
}
.support-title{
    text-transform: uppercase;
    font-size: .3rem;
}
.support-subtitle{
    font-size: .1rem;
}

.support-subtitle:first-letter{
    text-transform:uppercase;
}

#footer-top-infos,#footer-top-infos a{
    color: #a0a0a0;
}

.links .title{
    color: #575757;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
#footer-top-infos ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.links .categories li,.links .infomation li,
.links .accounts li{
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.subscribes .title{
    color: #575757;
    font-weight: bold;
}
.emailHere{
    background-color: rgb(255, 255, 255);
    color: #696969;
    height: 5vh;
    text-transform: capitalize;
    font-weight: bold;

    border: none;
    border-top-left-radius:50px;
    border-bottom-left-radius: 50px;

}

.subbtn{
    background-color: #696969;
    color: #dfdfdf;  
    height: 5vh;
    text-transform: capitalize;
    font-weight: bold;
    
    border: none;
    border-top-right-radius:50px;
    border-bottom-right-radius: 50px;

}

.socialMediaList{
    font-size: 1.5rem;
}
#footer-bottom{
    background-color: #fff;
}

/* @media (max-width:425px) {

    #footer-bottom .copyright,#footer-bottom .pays{
        display: flex;
        justify-content: center;
        margin: 1rem 0;
    }
}    

@media (max-width:576px) {
   
    #footer-bottom .copyright,#footer-bottom .pays{
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
    }
}    

@media (max-width:768px) {
   
    #footer-bottom .copyright,#footer-bottom .pays{
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
    }
}   

@media (max-width:992px) {
   
    #footer-bottom .copyright,#footer-bottom .pays{
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
    }
}   

@media (max-width:1200px) {
   
    #footer-bottom .copyright,#footer-bottom .pays{
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
    }
}   */